# Ignore compiled executables
*.out

# Ignore Java class files
*.class

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore compiled Ruby files
*.gem
*.rbc
*.rbo
*.rbs

# Ignore compiled JavaScript files
*.min.js

# Ignore compiled CSS files
*.min.css

# Ignore compiled PHP files
*.php[345t]
*.phar

# Ignore compiled TypeScript files
*.js
*.js.map

# Ignore compiled Dart files
*.dart.js
*.dart.js.map

# Ignore compiled Go files
*.exe
*.test
*.prof

# Ignore compiled Swift files
*.swiftmodule
*.swiftdoc
*.swiftsourceinfo

# Ignore compiled Rust files
*.rlib
*.rmeta

.vscode/